*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 60, 104);
}
 
.nav-items{
    padding-right: 20px;
}
.nav-items ul{
    display: flex;
}
.nav-items li{
    list-style-type: none;
}
.nav-items a{
    text-decoration: none;
    color:rgb(250, 250, 250);
    font-size: 20px;
    padding: 5px 16px;
}
.nav-items a:hover{
    border-bottom: 3px solid rgb(243, 96, 28);
    width: auto;
    background-color: rgb(88, 88, 231);
    width: 150px;
}
.logo{
    color: white;
    padding: 5px 25px;
    font-size: 18px;
}
.logo:hover{
    color:rgb(240, 124, 30);
}
.card{
    min-width: auto;
    width: 200px;
    height: auto;
    background-color: hwb(60 97% 0%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    margin: 22px;
    border-radius: 5px;
}
.img-card img{
    width: 100%;
    width: 200px;
    height: 220px;
    background-color: rgb(30, 167, 167);
    border-bottom:1px solid rgb(233, 229, 229);
}
section{
    margin-left: 60px;
    margin-top: 25px;
}
.details,p,span{
    padding: 8px;
    font-size: 20px;
}

.bars p{
    width: 20px;
    min-height: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    margin: 5px;
    display: none;
}

.details button{
    border-radius: 5px;
    display: block;
    width: 70px;
    background-color: rgba(14, 219, 14, 0.952);
    border: none;
    padding: 8px;
    color: #fff;
    margin: 10px 0px 20px 3.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details button:hover{
    background-color: rgb(243, 96, 28);
}
@media only screen and (max-width:1290px){
    .card{
        margin: 19px;
        
    }
    section{
        margin-left: 38px;
    }
}
@media only screen and (max-width:1240px){
    .card{
        margin: 17px;
    }
    section{
        margin-left: 30px;
    }
}
@media only screen and (max-width:1200px){
    .card{
        margin: 17px;
    }
    section{
        margin-left: 16px;
    }
}
@media only screen and (max-width:1100px){
    .card{
        width: 160px;
        height: auto;
        background-color: hwb(60 97% 0%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        float: left;
        margin: 32px;
        border-radius: 5px;
    }
    .img-card img{
        width: 160px;
        height: 175px;
        background-color: rgb(30, 167, 167);
        border-bottom:1px solid rgb(233, 229, 229);
    }
    /* .nav-items{
        padding-right: 0px;
        width: 100%;
    } */
    section{
        margin-left: 30px;
        margin-top: 25px;
    }
   .details,p,span{
        padding: 5px;
        font-size: 14px;
    }
    .details button{
        margin: 9px 0px 11px 2.1rem;
        width: 65px;
        padding: 5px;
    }
}
@media only screen and (max-width: 850px){
    .nav-items a{
        text-decoration: none;
        color:rgb(250, 250, 250);
        font-size: 16px;
        padding: 5px 10px;
    }
    .logo{
        color: white;
        padding: 5px 25px;
        font-size: 10px;
    }
}

@media only screen and (max-width:550px){
    .card{
        width: 144px;
        height: auto;
        background-color: hwb(60 97% 0%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        float: left;
        margin: 10px;
        border-radius: 5px;
    }
    .img-card img{
        width: 144px;
        height: 160px;
        background-color: rgb(30, 167, 167);
        border-bottom:1px solid rgb(233, 229, 229);
    }
    .nav-items{
        padding-right: 0px;
        width: 100%;
        display: none;
    }
    section{
        margin-left: 30px;
        margin-top: 25px;
    }
   .details,p,span{
        padding: 5px;
        font-size: 14px;
    }
    
    .details button{
        margin: 9px 0px 11px 2.2rem;
        width: 65px;
        padding: 5px;
    }
    .bars p{
        display: block;
        margin-right: 20px;
    }
}

